*/universal selector*/
{
    margin:0px;
    padding:0px;
    box-sizing: border-box

}

body{
    background-color:plum;
    background-position: center;
    display:flex;
    justify-content: flex-start;
    height: 100vh;
    justify-content: space-evenly;
    
}

.maindiv{

    display: flex;
  
}


